extends layout

block head

    link(rel="stylesheet", href="css/style.css")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
block content
    nav(role='navigation')
        a(href="#" class="brand-logo") London Freebie Map
        

    .container
        #welcomeOverlay.overlay
            p Welcome to the London Freebie Map, a map where you can discover places in London that gives free samples and free trials (food, drinks, gifts!)
            p This is a collaborative map so if you know any place, help others to find it  pressing the button below to add it to the map!
        #editInfoOverlay.overlay(style='display: none;')
            p Drag the map and to place the red marker wherever you want to add the new place

    button#openEditModeBtn.btn-floating.btn-large.blue.absoluteBtn.waves-effect.waves-light(type='submit', name='action')
        i.material-icons add

    button#saveAndWritePropertiesBtn.absoluteBtn.btn-floating.btn-large.blue.waves-effect.waves-light(type='submit', name='action' style='display: none;')
        i.material-icons save

    // Modal Structure
    #modal1.modal.modal-fixed-footer
        .modal-content
            h3 Place properties
            form#editModeForm.col.s12
                .input-field.col.s6
                    label(for="placename") Place name
                    input(type='text' name='placename' placeholder='Cool Coffee Cafe')
                .input-field.col.s6
                    label(for="description") What things are given for free?
                    input(type='text' name='description' placeholder='Free coffee, small chocolate tablets, etc...')
                .input-field.col.s6 
                    label(for="submittedby") Submitted by
                    input(type='text' name='submittedby' placeholder="Your Twitter username (optional)")

        .modal-footer
            button#submitButton.btn.btn-primary(type='submit') Submit place 

    #map
    #editMarker

    .footer
            p Made by 
                a(href='https://www.twitter.com/jonbesga') @jonbesga
    script.
        const rows = !{rows}

    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    script(src="/js/map.js")
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAAqYZLLYExydl0vHbSPtQevqBZTntwpMQ&callback=initMap', async='', defer='')



