<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    
    title London Freebies Map
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    
    
    meta(name='description', content='Discover those places that give you free things in London.')
    //- // <meta name="keywords" content="{{keywords}}">
    //- link(rel='author', href='https://plus.google.com/{{googlePlusId}}')
    link(rel='canonical', href='http://www.londonfreebiesmap.com/')
    // Twitter Card data
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='http://jonanderbesga.com')
    meta(name='twitter:creator', content='@jonbesga')
    meta(name='twitter:description', content='Discover those places that give you free things in London.')
    meta(name='twitter:title', content='London Freebies Map')
    meta(name='twitter:image', content='http://www.londonfreebiesmap.com/images/logo.jpg')
    meta(name='twitter:image:alt', content='Discover those places that give you free things in London.')
    // Open Graph data
    meta(property='og:url', content='http://jonanderbesga.com')
    meta(property='og:title', content='London Freebies Map')
    meta(property='og:description', content='Discover those places that give you free things in London.')
    meta(property='og:image', content='http://www.londonfreebiesmap.com/images/logo.jpg')
    //- meta(property='fb:app_id', content='201730350343994')
    meta(property='og:type', content='website')


    block head

  body
  
    block content

    