html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 30px 10px;
  font-size: 12px;
}
.footer p{
  margin: 0;
}

#map {
  width: 100%;
  height: calc(100% - 64px);
}

#editMarker {
  display: none;
  position: absolute;
  background: url(https://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  top: calc(50% - 64px + 34px);
  left: calc(50% - 10px);
  z-index: 1;
  height: 34px;
  width: 20px;
  cursor: pointer;
}

#editModeForm{
  margin: 10px 0;
}

.overlay{
  margin-top: 64px;
  padding: 0 10px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

@media (max-width: 576px) {
  .overlay{
    margin-top: 56px;
    width: 100%;
  }
  #map {
    height: calc(100% - 56px);
  }
  #editMarker {
    top: calc(50% - 56px + 34px);
  }
  nav .brand-logo{
    text-align: center;
    width: 100%;
    font-size: 1.5rem; 
  }
}

#overlay p{
  font-size: 16px;
  margin:10px 6px;
  color: white;
}

.absoluteBtn{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px 10px;
}
.modal h3{
  font-size: 20px;
  margin: 5px 0 30px 0;
}
.modal p{
  margin: 30px 0px;
}
.modal{
  max-height: 100%;
}

iframe#drift-widget{
  left: 0 !important;
  bottom: 50px !important;
}